body{
    width: 1280px;
    margin: auto;
}
ul{
	display: flex;
    list-style: none;
    justify-content: space-around;
}
li {
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
}

h1 {
    width: 100%;
    text-align: center;
}
#operation {
    text-align: center;
}
#history h2{
	text-align: center;
}
.header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}
table {
    margin: auto;
}
th, td {
    text-align: center;
}
td.positive {
    color: green;
}
td.negative {
    color: red;
}